@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/caviar_dreams/CaviarDreams.ttf"); }

@font-face {
  font-family: "CaviarDreamsBold";
  src: url("../fonts/caviar_dreams/CaviarDreamsBold.ttf"); }

@font-face {
  font-family: "RNS_Camelia";
  src: url("../fonts/rns_camelia/RNS_Camelia.otf"); }

@font-face {
  font-family: "TakeAPebble";
  src: url("../fonts/take_a_pebble/take_a_pebble.ttf"); }

/* line 31, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.main {
  height: 800px; }

/* line 36, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 39, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
body {
  font-size: 10px;
  font-family: sans-serif; }

/* line 43, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #E6E7E8; }

/* line 48, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.wrapper {
  width: 60%;
  margin: 0 auto;
  padding-top: 10%; }

/* line 53, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.wrapper2 {
  width: 55%;
  margin: 0 auto; }

/* line 60, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.headText h1, .profile {
  font-family: TakeAPebble, cursive; }

/* line 63, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.headText h1 {
  font-size: 5em; }

/* line 70, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.headText h2, .wrapper2 ul li a, .aboutBtn, .workBtn, button[type="submit"] {
  font-family: RNS_Camelia, Times, serif;
  font-size: 2em;
  line-height: 150%;
  color: #E6E7E8; }

/* line 83, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.caption h3, .caption p, .aboutText p, input[type="text"], textarea, h3.swahili, .socialMedia li.resume, footer {
  font-family: CaviarDreams, Helvetica, sans-serif;
  line-height: 150%;
  font-size: 1.5em; }

/* line 88, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.aboutText p {
  font-size: 1.5em;
  padding-bottom: 10px; }

/* line 92, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
h3.swahili {
  font-size: 3em; }

/* line 95, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
h3 span.smltext {
  font-size: 0.5em; }

/* line 98, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
p span.smltext {
  font-size: 0.75em;
  color: #82BC00; }

/* line 102, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
q.quote {
  font-family: CaviarDreamsBold, Helvetica, sans-serif;
  font-size: 1em;
  color: #82BC00; }

/* line 107, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.contact h1 {
  font-family: RNS_Camelia, Times, serif;
  font-size: 4em;
  text-align: center; }

/* line 114, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block; }

/* line 118, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.nav {
  background: black;
  opacity: 0.8;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 500; }

/* line 126, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.navlogoPos {
  float: left;
  padding-top: 8px; }

/* line 130, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.logoNav {
  position: fixed; }

/* line 133, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.hide:hover {
  opacity: 0;
  transition: all, 1s; }

/* line 138, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.wrapper2 ul {
  position: relative;
  left: 200px; }
  /* line 141, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
  .wrapper2 ul li {
    display: inline-block;
    list-style: none; }
    /* line 144, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
    .wrapper2 ul li a {
      padding: 30px 60px; }

/* line 147, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
ul li a:hover {
  text-decoration: underline;
  transition: all, 1s;
  width: 100%;
  height: 100%; }

/* line 153, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
a.blue:hover {
  background: #00ADEE; }

/* line 156, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
a.green:hover {
  background: #82BC00; }

/* line 159, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
a.red:hover {
  background: red; }

/* line 163, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.home {
  height: 800px;
  width: 100%;
  background-image: url(../images/backgroundPattern.png); }

/* line 168, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.logo {
  padding-top: 10%;
  float: left; }

/* line 172, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.logo2 {
  width: 100%; }

/* line 175, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.headText {
  float: left;
  padding-top: 3%;
  margin: 10% 0 10% 3%;
  width: 55%; }

/* line 181, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.headText h1 {
  padding-bottom: 5%;
  color: white; }

/* line 185, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.aboutBtn {
  padding: 3%;
  border: 2px white solid;
  margin-top: 8.5%; }

/* line 191, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.mywork {
  background: #EFEFEF;
  height: 800px;
  display: block;
  float: none; }

/* line 197, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.figure {
  width: 250px;
  height: 250px;
  border: 2px solid #000000;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 15px 0 15px 30px; }

/* line 206, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  bottom: -85px;
  transition: all, 0.5s; }

/* line 215, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.figure:hover .caption {
  bottom: -5px;
  /* put transition here, give hover only for 2 seconds transition */
  transition: all, 0.5s; }

/* line 221, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.aboutText {
  width: 52%;
  margin-top: 7%;
  padding-left: 3%;
  float: left;
  color: grey; }

/* line 228, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.pic {
  margin-top: 4%;
  width: 37.5%;
  float: left;
  padding: 10px;
  border: 2px dotted #82BC00;
  border-radius: 300px; }

/* line 236, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.myPic {
  border: 2px solid black;
  border-radius: 300px; }

/* line 240, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.profile {
  font-size: 2em; }

/* line 243, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.profileName {
  padding-bottom: 5%; }

/* line 246, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
h3.swahili {
  padding-bottom: 2%; }

/* line 250, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia {
  float: left;
  padding-left: 20%;
  width: 50%;
  margin-top: 20px; }

/* line 256, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li {
  width: 100px;
  height: 100px;
  background: #333;
  border-radius: 50px;
  margin-bottom: -30px; }

/* line 263, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.right {
  margin-left: 70px; }

/* line 266, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.resume {
  width: 180px;
  margin-top: 40px;
  margin-bottom: 0; }

/* line 271, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.hblue:hover {
  background: #00ADEE;
  transition: all, 2s; }

/* line 275, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.hgreen:hover {
  background: #82BC00;
  transition: all, 2s; }

/* line 279, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.hdblue:hover {
  background: #0047BA;
  transition: all, 2s; }

/* line 283, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.horange:hover {
  background: #F38B00;
  transition: all, 2s; }

/* line 287, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li.hpurple:hover {
  background: #9A3CBB;
  transition: all, 2s; }

/* line 291, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.socialMedia li a {
  padding: 29px 0 0 29px; }

/* line 294, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.form {
  width: 40%;
  float: left;
  padding-top: 3%; }

/* line 299, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
input[type="text"] {
  border: 1px solid #909090;
  margin-bottom: 4%;
  font-size: 2em;
  width: 96%;
  color: #585858;
  padding: 5% 2%; }

/* line 307, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
textarea.comment {
  width: 96%;
  padding: 5% 2% 25% 2%;
  font-size: 2em;
  margin-bottom: 4%; }

/* line 313, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
button[type="submit"].sendBtn {
  width: 96%;
  background-color: #82BC00;
  font-weight: bold;
  padding: 5% 2%; }

/* line 319, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
button[type="submit"].sendBtn:hover {
  font-weight: bolder;
  background-color: #000;
  color: #fff;
  transition: all, 2s;
  cursor: pointer; }

/* line 328, /Users/FatemahManji/GitHub/portfolioApp/src/assets/styles/index.sass */
.footer {
  background: #00ADEE;
  color: white;
  text-align: center;
  padding: 20px 0 60px 0;
  height: 30px; }
