doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Fatemah's Portfolio

  meta(name="description", content="Hello World")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="shortcut icon" href="assets/images/logos/favicon.png")  

  link(rel="stylesheet", href="assets/styles/reset.css", type="text/css")
  
  link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  

  body

    div.nav
  
      div.wrapper2
  
        a(class="navlogoPos" href="/")
  
          img(class="logoNav" src="assets/images/logos/navLogo.png" alt="Personal Logo")
  
          img(class="logoNav hide" src="assets/images/logos/navLogoWhite.png" alt="Personal Logo")
  
        ul

          li: a(class="blue" href="/mywork") My Works

          li: a(class="green" href="/about") About

          li: a(class="red" href="/contact") Connect

    //- ---------------------  Navigation complete  ------------------------------------
      

    div.main

    footer.footer

      p Copyright &copy; Fatemah Manji 2014
           

  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    
    <div class="page home">
    
      <div class="wrapper">
    
        <div class="logo">
    
          <img class="logo2" src="assets/images/logos/logo.svg" alt="Personal Logo"/>
    
        </div>
    
        <div class="headText">
    
          <h1>Fatemah Manji</h1>
    
          <h2>Hello, I am an Interactive Designer who believes that a little color won’t hurt your design! </h2>
    
          <a href="#about" class="aboutBtn">Learn More</a>
    
        </div>
    
      </div> 
    
    </div>

  //- ------------------------- Home Complete ----------------------------------------

  script#mywork(type="text/template").
    
    <div class="page mywork">
    
      <div class="wrapper">
    
        <a href="http://fatemahmanji.com/htmlSite/comingSoon.html">
    
          <div class="figure work1">
    
            <img src="assets/images/work/klinkit.jpg"/>
    
            <div class="caption">
    
              <h3> Klink It </h3>
    
              <p>Klink-It app was developed as a simple matching Ios Puzzle game that was built on Objective-C.</p><br>
    
            </div>
    
          </div>
    
        </a>



        <a href="http://fatemahmanji.com/htmlSite/comingSoon.html">
    
          <div class="figure work2">
    
            <img src="assets/images/logos/navLogo.svg"/>
    
            <div class="caption">
    
              <h3> My Brand </h3>
    
              <p> The story behind the colorful and abstract logo. What was my inspiration for the colorful Logo</p><br>
    
            </div>
    
          </div>
    
        </a>



        <a href="http://fatemahmanji.com/htmlSite/worldIcons.html">
    
          <div class="figure work3">
    
            <img src="assets/images/work/icons250.svg"/>
    
            <div class="caption">
    
              <h3> Icon Set </h3>
    
              <p> A collection of icons that depict the wonders of the world. These are available on The Noun Project.</p><br>
    
            </div>
    
          </div>
    
        </a>



        <a href="http://fatemahmanji.com/htmlSite/infographic.html">        
    
          <div class="figure work5">
    
            <img src="assets/images/work/infographic250.svg"/>
    
            <div class="caption">
    
              <h3> Infographic </h3>
    
              <p> Which animals are endangered in Africa and where do they live and know more about them.</p><br>
    
            </div>
    
          </div>
    
        </a>




        <a href="http://fatemahmanji.com/htmlSite/comingSoon.html">

          <div class="figure work4">

            <img src="assets/images/work/book250.svg"/>

            <div class="caption">

              <h3>Children Book Graphics</h3>

              <p> This book was written By Amena Minhal. A story about how a new baby is coming to a young child.</p><br>

            </div>

          </div>

        </a>




        <a href="http://fatemahmanji.com/htmlSite/comingSoon.html">

          <div class="figure work6">

            <img src="assets/images/work/chicken250.jpg"/>

            <div class="caption">

              <h3> When the skies fall</h3>

              <p> Web-based puzzle game built to grasp the foundation of Javascript with Cocos2D game engine</p><br>

            </div>

          </div>

        </a>


      </div>

    </div>

  //- ----------------------------- My work Complete ----------------------------
  
  script#about(type="text/template").
 
    <div class="page about">
 
      <div class="wrapper">
 
        <div class="pic">
 
          <img src="assets/images/fatemah.jpg" alt="Fatemah's picture" class="myPic"/>
 
        </div>
 
        <div class="aboutText">
 
          <h3 class="swahili">Habari ! <span class="smltext">(Hello in " Swahili)..</span></h3>
 
          <p class="profileName">My name is <span class="profile">Fatemah Manji.</span> I am an Interactive Designer based in Toronto from the coastal city of Tanzania, namely Dar es Salaam.</p>
 
          <p>I like to create Simple and useful interfaces. I am currently enrolled in the Web Design Program at Humber College.</p>
 
          <p>I believe that <q class="quote">&ldquo; Always stand on principle... even if you stand alone &rdquo;</q><span class="smltext">John Quincy Adams</span></p>
 
          <p>I entered a certificate program for graphic design after high school at DPI and loved the fact that I could design anything.</p>
 
          <p>After 7 years in the field, I decided to brush up my skills and decided to join the Web Program half-way across the world.</p>
 
          <p>When I am not designing on a digital screen, I like to play games and explore different places.</p> 
 
        </div>  
 
      </div>
 
    </div>

  //- ------------------------------------ about Complete -------------------------------

  script#contact(type="text/template").
    
    <div class="page contact">
    
      <div class="wrapper">
    
        <h1>Lets Connect</h1>
    
        <ul class="socialMedia">
    
          <li class="hblue"><a href="mailto:fatemahmanji@gmail.com"><img src="assets/images/icons/mailIcon.svg" alt="mail_icon"/></a></li>
    
          <li class="right hgreen"><a href="http://ca.linkedin.com/pub/fatemah-manji/3a/23b/26/"><img src="assets/images/icons/linkedIcon.svg" alt="linkedIn_icon"/></a></li>
    
          <li class="left hpurple"><a href="https://github.com/FatemahManji"><img src="assets/images/icons/githubIcon.svg" alt="github_icon"/></a></li>
    
          <li class="right hdblue"><a href="http://thenounproject.com/Fmanji/"><img src="assets/images/icons/nounprojectIcon.svg" alt="nounproject_icon"/></a></li>
    
          <li class="resume horange"><a href="https://drive.google.com/file/d/0ByDr5pb8zckfNjJsazc0LW5xZm8/view?usp=sharing"><img src="assets/images/icons/resumeIcon.svg" alt="resume_icon"/>View Resume</a></li>        
    
        </ul>

        <form class="form">
    
          <input class="name" type="text" placeholder="Full Name" name="user_name">
    
          <input class="email" type="text" placeholder="Email" name="user_email">
    
          <textarea class="comment" placeholder="Comment" name="user_message"></textarea>
    
          <button class="sendBtn" type="submit">Connect</button>
    
        </form>
    
      </div>  
    
    </div>

  //- -------------------------------- contact Complete -------------------------------------


  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="assets/scripts/main.js")
