//---------------------------------------------
//      FONT-FACES, FONT-FAMILY, FONT-SIZES
//---------------------------------------------
      //     Caviar Dreams    
@font-face
  font-family: "CaviarDreams"
  src: url("../fonts/caviar_dreams/CaviarDreams.ttf")

@font-face
  font-family: "CaviarDreamsBold"
  src: url("../fonts/caviar_dreams/CaviarDreamsBold.ttf")

      //          RNS_Camelia             
@font-face
  font-family: "RNS_Camelia"
  src: url("../fonts/rns_camelia/RNS_Camelia.otf")

      //       take_a_pebble            
@font-face
  font-family: "TakeAPebble"
  src: url("../fonts/take_a_pebble/take_a_pebble.ttf")


// -----------------------------
// Variables
// -----------------------------

$color: #E6E7E8
$lightColor: #efefef
$darkColor: #333


// -----------------------------
// Header
// -----------------------------

.header


// -----------------------------
// Main
// -----------------------------

.main
  height:800px


// -----------------------------
// Global Styles
// -----------------------------

*
  box-sizing: border-box

body
  font-size: 10px
  font-family: sans-serif

a
  text-decoration: none
  display: inline-block
  color: $color

.wrapper
  width: 60%
  margin: 0 auto
  padding-top:10%

.wrapper2
  width:55%
  margin: 0 auto


//---------------------------------------------
//      FONT-FAMILY, FONT-SIZES
//---------------------------------------------

.headText h1,
.profile
  font-family: TakeAPebble, cursive

.headText h1
  font-size: 5em

.headText h2,
.wrapper2 ul li a,
.aboutBtn,
.workBtn,
input[type="submit"],
  font-family: RNS_Camelia, Times, serif
  font-size: 20px
  line-height:150%
  color:$color

.caption h3,
.caption p,
input[type="text"]
  font-family: CaviarDreams, Helvetica, sans-serif


// -----------------------------
// App Specific
// -----------------------------

.header, .main, .footer
  width: 100%
  display: block

// -----------------------------
// Navigation
// -----------------------------
.nav
  background:black
  opacity:0.8
  height:75px
  position:fixed
  width:100%
  z-index:500

.navlogoPos
  float:left
  padding-top:8px;

.logoNav
  position:fixed

.wrapper2
  ul
    position:relative
    left:200px
    li
      display: inline-block
      list-style: none
      a
        padding: 30px 60px

// -----------------------------
// home styling
// -----------------------------
.home
  height: 800px
  width:100%
  background-image: url(../images/backgroundPattern.png)

.logo
  padding-top:10%
  float:left

.logo2
  width: 100%

.headText
  float:left
  padding-top:3%
  margin: 10% 0 10% 3%
  width:55%

.headText h1
  padding-bottom: 5%
  color:white

.aboutBtn
  padding: 3%
  border: 2px white solid
  margin-top: 8.5%


// -----------------------------
// my work Page
// -----------------------------
.mywork
  background:#EFEFEF
  height:800px
  display:block
  float:none

.figure
  width:250px
  height:250px
  border:2px solid #000000
  position:relative
  overflow: hidden
  float:left
  margin:15px 0 15px 30px

.caption
  position:absolute
  background: rgba(0,0,0,0.5)
  color:#000
  text-align:center
  bottom: -85px
    /* put transition here, give normal and hover both 2 seconds transition */
  transition: all, 0.5s

.figure:hover .caption
  bottom:-5px
  /* put transition here, give hover only for 2 seconds transition */
  transition: all, 0.5s


// -----------------------------
// About page
// -----------------------------
.aboutText
  width: 52%
  padding-left: 2%
  float:left

.pic
  width: 37.5%
  float:left
  padding:10px
  border:2px dotted grey
  border-radius:300px

.myPic
  border: 2px solid black
  border-radius:300px



.profile
  font-size: 3.5em

.profileName, .swahili
  padding-bottom: 5%





// -----------------------------
// Footer
// -----------------------------

.footer
  background:#00ADEE
  color:white
  text-align:center
  padding: 40px
  height:20px
  //p
    //margin: 0
   // padding: 0
    //font-size: 12px

